

header{
    text-align: center;
    /* background-image: url("../images/image-2.jpg");  */
    background-color: seagreen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
}


h2{
    text-align: right;
    width: 20%;
    margin-right: 30px;
    border-right: 3px solid #000;
    padding: 10px;

}
/* The ul and li code below make the navigation tabs at the top align right, and then the display is inline so they can be next to each other. */
ul{
    list-style-type: none;
    text-align: right;
    
}

li{
    display: inline;
    margin-left: 25px;
    font-size: 20px;    
}

p2, p3, p4, p5{
    width: 75%;
}

p4{
    display: flex;
    align-items: center;
}


picture:hover{

    opacity: .7;
}

/* changes the background color of the website */
.background-color{
    background-color: lightgray;
}

/* Changes the banner underneath the heading */
.banner{
    display: flex;
    flex: 1;
    background-image: url("../images/image-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    margin-bottom: 50px;
}

/* Container is made in order to have the headings and p's appear on same line */
.container{
    display: flex;
    align-items: center;
}

/* Needed to have the header fixed at the top whenever you scroll */
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}



/* About me id that changes font */
#about-me{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#contact-me{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#contactList{
    text-align: left;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: -25px;
}

#resume{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#work{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Changes banner, header background color and background color when width hits 992px */
@media screen and (max-width: 992px)
{
    header{
        background-color: antiquewhite;
    }

    .background-color{
        background-color: azure;
    }

    .banner{
        display: flex;
        flex: 1;
        background-image: url("../images/one-piece.jpg");
    }
    
}
