
header{
    text-align: left;
    /* background-image: url("../images/image-2.jpg");  */
    background-color: seagreen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

/* The ul and li code below make the navigation tabs at the top align right, and then the display is inline so they can be next to each other. */
ul{
    list-style-type: none;
    text-align: right;
    
}

li{
    display: inline;
    margin-left: 25px;
    font-size: 20px;    
}

p2{

    display: flex;
    flex: 1;
    margin-left: 40px;

}

p3{
    margin-left: 95px;
}

p4{
    margin-left: 65px;
}

p5{
    margin-left: 65px;
}

.background-color{
    background-color: lightgray;
}

.banner{
    background-image: url("../images/image-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    align-items: center;
}



#about-me{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#contact-me{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#resume{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



#work{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
